*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    width: 100%;
    height: 630px;
}
.divmain{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
}
.address_ins{
    width:50% ;
    height: 100%;

}
.divform{

    width: 50%;
    height: 100%;
}
.address{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.bar{
    width: 20px;
    height: 100%;
    background-color: rgb(215, 215, 215);
    border-radius: 100px;
}
.item_address{
    width: 95%;
    height: 100%;
    overflow: auto;
}
.item_address::-webkit-scrollbar{
    width: 10px;
}
.table-list{
    width: 100%;

}
.thead{
    width: 100%;
    border: solid;
    background-color: rgb(75, 165, 244);
    height: 40px;
}
th{
    width: 15.8%;
    font-size: 16px;
}
.tr1{
    text-align: center;
    height: 60px;
    background-color: rgb(204, 228, 249);
}
.tr1>td{
    width: 15.8%;
}
a{
    text-decoration: none;
    color: #000;
}
.title{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 100%;
}
